*{
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.navbar-material .nav-wrapper .brand-logo img {
    padding: 10px;
    height: 64px;
}

.navbar-material .nav-wrapper .brand-logo.text {
  padding-left: 64px;
}

.navbar-material{
  background-color: black;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Content{
  flex: 1;
}