*{
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.navbar-material .nav-wrapper .brand-logo img {
    padding: 10px;
    height: 64px;
}

.navbar-material .nav-wrapper .brand-logo.text {
  padding-left: 64px;
}

.navbar-material{
  background-color: black;
}

.dropdown-content a{
  color: white !important;
  background-color: black;
}

.Site {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  padding: 30px;
  /*text-align: center;*/
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  margin-top: 5px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
    font-family: 'Open Sans';
    min-width: 2rem;
    font-size: 12px;
    background: #ff0000;
    color: rgb(255, 255, 255);
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}

.card img{
  /*object-fit: contain;*/
  max-height: 300px;
}

.card-image{
  min-height: 300px;
}

.card-desc{
  height: 90px;
  overflow: hidden;
}

.card{
  max-width: 300px;
}

.boton-agregar-carrito{
  margin-top: 10px;
  display: flex !important;
  height: 40px !important;
}

.detalle-imagen{
  max-height: 245px;
}

.item-detail-row{
  margin: 0 !important;
}

.badReqText{
  margin: 0;
  font-size: 8rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-style: italic;
}

.line-clamp {
  width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2 !important; /* number of lines to show */
}

.line-clamp.one-line{
  -webkit-line-clamp: 1 !important; /* number of lines to show */
}

.boton-finalizar-compra{
  margin-top: 10px !important;
  width: fit-content;
  display: flex !important;
  height: 40px !important;
}

.card.horizontal{
  max-width: 100% !important;
  width: 100%;
  max-height: 300px;
  height: 300px;
}

@media (max-width: 993px) {
  .card.horizontal {
    max-height: none !important;
    height: auto !important; } 
  .line-clamp.one-line{
    -webkit-line-clamp: unset !important;
  }
  #lblCartCount{
    margin-left: 10px;
    min-width: 2rem;
  }
  }

.card-image.cart{
  max-width: 300px !important;
  width: 300px !important;
}

.full-height{
  height: 100% !important;
}

.material-icons{
  display: inline-flex;
  vertical-align: top;
}

.small{
  height: fit-content !important;
  display: block !important;
  padding-right: 10px !important;
}

.boton-clean{
  margin-top: 18px !important;
}

.boton-buy{
  margin-top: 50px !important;
  height: 70px !important;
  width: 300px !important;
  font-size: 25px !important;
  line-height: 71px !important;
}

.total{
  margin-top: 18px !important;
}

.logo-side{
  padding-left: 32px;
}

.side-header{
  background-color: black;
}

/*FORM*/
/* label color */
.input-field label {
  color: #000 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000 !important;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
/* valid color */
.input-field input.valid {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid rgb(189, 7, 7) !important;
  box-shadow: 0 1px 0 0 rgb(189, 7, 7) !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000 !important;
}

.wide{
  width: 100% !important;
  max-width: 100% !important;
}

.wide50{
  width: 50% !important;
  max-width: 50% !important;
}

.margin0{
  margin: 0 !important;
}

.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 20px;
}

.max-w-100{
  max-width: 100px !important;
}

.ancho{
  margin-bottom: -22px !important;
  padding-bottom: 10px;
}

.tick-grande{
  color: green;
  font-size: 50px;
}

.error-grande{
  color: red;
  font-size: 50px;
}